.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  background-color: #1e2a38;
  color: white;
  width: 260px;
}

.layout__content {
  padding: 1rem;
}

@media (max-width: 768px) {
  .layout__content {
    padding: 0.5rem;
  }
}

